.image {
   position: relative;
   width: 100%; /* for IE 6 */
   top: 50px;
}

.newyork {
   position: relative;
   width: 100%; /* for IE 6 */
   top: 20px;
}

#ny {

}
h1, nav {
   position: absolute;
   text-align: center;
   top: 1px;
   left: 0;
   width: 100%;
   font-family: Helvetica;
   font-size: 70px;
   font-weight: bold;
   color: white;
}

nav {
  top: 150px;
  display: block;
  width: 60px;
  left: 600px;
}

nav, a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.process, .newyork{
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
}

#one {
  font-size: 32px;
}

#two {
  font-size: 23px;
}

p {
  font-size: 14px;
  font-weight: normal;
}

.newyork h1 {
  font-size: 23px;
  top: 25px;

}

footer {
font-family: Helvetica;
font-size: 11px;
color: white;
background-color: dimgray;

}
